@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }

}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        padding-top: 80px;
        &__grid {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills{
            gap: 20px;

        }
        &__skil {
            grid-template-columns:40px 190px;
            column-gap: 15px;

        }
    }
    .resume {
        padding-top: 80px;
        &__wraper {
            padding: 40px 20px 0 20px;
            column-gap: 60px;
        }
    }
    .skills {
        padding-top: 80px;
        &__grid {
            padding: 40px 20px 0 20px;
            grid-template-columns: repeat(4, minmax(200px, auto));
        }
        &__progress {
            margin-top: 80px;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 305px);
            grid-auto-rows: minmax(70px, auto);
            column-gap: 20px;
            row-gap: 15px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizont, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contact {
        &__grid {
            grid-template-columns: 350px 490px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 220px);
        }
    }

    

}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        padding-top: 90px;
        &__grid {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);
        }
        &__skil {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .resume {
        &__wraper {
            grid-template-columns: repeat(2,320px);
        }
    }
    .skills {
        &__grid {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;

            column-gap: 0;
        }
        &__progress {
            grid-template-columns: repeat(auto-fit, 350px);
            &__item-liner {
                width: 100%;
            }
        }
    }
    .price {
        &__list {
            grid-template-columns: repeat(auto-fit,  350px);
        }
    }
    .contact {
        &__grid {
            grid-template-columns: 270px 390px;
            padding:0 20px 0 20px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 180px);
        }
        &__btn {
            font-size: 11px;
            line-height: 19px;
    
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        
        &_fz48 {
            font-size: 29px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about{
        padding-top: 40px;
        &__grid {
            grid-template: 340px auto auto/1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__skil {
            grid-template-columns: 40px 190px;
            column-gap: 15px;
        }
    }
    .resume {
        padding-top: 60px;
        &__wraper {
            grid-template-columns: 1fr;
            row-gap: 50px;
        }
    }
    .skills {
        &__grid {
            grid-template-columns: repeat(2, minmax(220px, auto));
            column-gap: 40px;
        }
        &__progress {
            grid-template-columns: repeat(auto-fit, 320px);
            
            justify-content: center;
            margin-top: 40px;
            row-gap: 25px;
            &__item-liner {
                width: 100%;
            }

        }
    }
    .price {
        &__list {
            justify-content: center;
        }
    }
    .contact {
        padding: 60px 0 40px 0;
        &__grid {
            grid-template-columns:1fr;
            padding:0 20px 0 20px;
        }
        &__photo {
            display: none;
            
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
            column-gap:10px;
            justify-content: center;
        }
        &__btn {
            font-size: 11px;
            line-height: 19px;
    
        }
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48{
            font-size: 26px;
        }
        
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 60%/cover;
        &__btn {
            margin-top: 30px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .about {
        &__grid {
            grid-template: 340px auto auto/1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        .title {
            &_fz36 {
                font-size: 24px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }
    .skills {
        &__grid {
            grid-template-columns: 1fr;
            column-gap: 40px;
        }
        &__progress {
            grid-template-columns: repeat(auto-fit,300px);

        }
    }
    .price {
        padding-top: 40px;
        &__list {
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
    .contact {

        &__form {
            grid-template: 45px 45px 190px  minmax(45px, auto) / 250px;
            row-gap: 15px;
        }
        &__subtitle{
            font-size: 26px;
        }
        &__social {
            width: 250px;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            grid-column: unset;
            width: 100%;
        }
        &__btn {
            display: block;
            margin: 0 auto;
            font-size: 12px;
            line-height: 19px;
    
        }
    }

}